@font-face {
    font-family: Casta;
    src: url(./neutral_face/Neutral_face/NeutralFace.otf);
}

body {
    background: #efefef;
    height: 100%;
    // background: rgb(125,146,253);
    // background: radial-gradient(circle, rgba(125,146,253,1) 0%, rgba(255,194,207,1) 100%);
}

.nav {
    font-family: 'Casta';
    letter-spacing: 4px;
    align-items: center;
    font-size: 30px;
    display: flex;
    // justify-content: space-between;
    gap: 40px;
    background-color: #efefef;
    padding: 10px 20px;
    ul {
        .link {
            color: black;
        }
    }
    .link {
        text-decoration: none;
        color: #2b5293;
        font-weight: 500;
    }
    img {
        margin: 15px;
        transform: scale(1.5);
        height: 100px;
    }
    .menu {
        margin: 0 30px;
        &:hover {
            cursor: pointer;
        }
    }
    .menu-list {
        margin-left: 50px;
        display: flex;
        list-style: none;
        gap: 70px;
        font-size: 20px;
    }
    .cart-icon {
        display: flex;
        gap: 50px;
        margin-left: auto;
        margin-right: 30px;
    }
}

.home-photo-cont {
    background: white;  /* fallback for old browsers */
    background: linear-gradient(rgba(219, 218, 218, 0.493), rgba(90, 81, 68, 0.342)), url('https://media.istockphoto.com/photos/beige-tshirt-mockup-template-on-wooden-hanger-picture-id1269732404?k=20&m=1269732404&s=612x612&w=0&h=WtAH3-DYwi0t1YW6ZwJFCSF7pjK1JIBukO9VJ3DXaIA=');
    // background: linear-gradient(rgba(255, 255, 255, 0.493), rgba(201, 186, 255, 0.342)), url("./images/photo-1556741533-6e6a62bd8b49.jpg") 0 -55px; 
    background-size: 100%;
    filter: blur(2.5px);
    height: 700px;
}

.home-btn {
    ul {
        list-style: none;
    }
    color: #000000;
    position: absolute;
    width: 1300px;
    z-index: 1;
    top: 45%;
    left: 6%;
    font-family: 'Casta';
    font-size: 30px;
    letter-spacing: 3px;
    padding: 13px 90px;
    outline: 0;
    border: none;
    background-color: #fafafa59;
    ul {
        transition: transform 0.8s;
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.link {
    color: black;
    text-decoration: none;
}

.add-prod {
    width: 95.7%;
    // margin-left: auto;
    margin: 30px;
    cursor: pointer;
    padding: 20px;
    background: none;
    height: 100%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(184, 172, 162, 0.301);
}

.product-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    .product {
        .product-name {
            font-size: 17px;
            text-transform: uppercase;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product-pic {
            height: 500px;
            // width: 160px;
            // // transform: scale(0.1);
            // border: 15px solid white;
            // // width: 160px;
            // margin: 20px;
        }
        button {
          align-items: center;
          background-color: #efefef;
          border: 2px solid #70654f33;
          border-radius: 8px;
          box-sizing: border-box;
          color: #111;
          cursor: pointer;
          display: flex;
        //   font-family: Inter,sans-serif;
          font-size: 16px;
          height: 40px;
          justify-content: center;
          line-height: 24px;
          max-width: 100%;
          padding: 0 25px;
          position: relative;
          text-align: center;
          text-decoration: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }
        
        button:after {
          background-color: #70654f;
          opacity: 20%;
          border-radius: 8px;
          content: "";
          display: block;
          height: 40px;
          left: 0;
          width: 100%;
          position: absolute;
          top: -5px;
          transform: translate(8px, 8px);
          transition: transform .2s ease-out;
          z-index: -1;
        }
        
        button:hover:after {
          transform: translate(0, 3px);
        }
        
        button:active {
          background-color: #ffdeda;
          outline: 0;
        }
        
        button:hover {
          outline: 0;
        }
    }
}

.newsletter {
    margin: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        color: #234277;
    }
    h3 {
        color: #566e99;
    }
    $primary: #234277;
    $secondary: #97b5e9;
    $white: #fff;
    $gray: #9b9b9b;
    .form__group {
        display: flex;
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 100%;
        button {
            padding: 0; 
            background: none; 
            border: none; 
            outline: none;
            color:  #2e307c;
            font-size: 20px;
            line-height: 2.4rem;
            vertical-align: middle;
            transition: color .25s;
            cursor: pointer;
            &:hover {
              color: #97b5e9;
            }
        }
    }
    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray;
        outline: 0;
        font-size: 20px;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }
    }
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $gray;
        }
    .form__field:focus {
        ~ .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $primary;
            font-weight:700;    
        }
        padding-bottom: 6px;  
        // font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, $primary,$secondary);
        border-image-slice: 1;
    }
    .form__field{
        &:invalid { box-shadow:none; }
    }
}
.login-bg {
    background: url("https://media.istockphoto.com/photos/the-light-from-the-window-shines-on-the-white-wall-the-shadow-from-picture-id1302773734?k=20&m=1302773734&s=612x612&w=0&h=ITJ1rgQ7xmiiXth56qMIFYB2AohfA_l2jNUm2oQaCf0=") no-repeat;
    // background-color: #97b5e9;
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: 100%;
}
.login-wrapper {
    background-color: #58574134;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 40%;
    border-radius: 10px;
    padding: 50px 0;
    $primary: #234277;
    $secondary: #97b5e9;
    $white: #fff;
    $gray: #9b9b9b;
    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray;
        outline: 0;
        font-size: 20px;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }
    }
    .form__label {
        font-size: 1rem;
        color: $gray;
        p~.form__field:focus {
            color: $primary;
            font-weight:700;    
            padding-bottom: 6px;  
            border-width: 3px;
            border-image: linear-gradient(to right, $primary,$secondary);
            border-image-slice: 1;
        }
    }
    .form__field{
        &:invalid { box-shadow:none; }
    }
    button {
        font-size: 20px;
        background: none;
        border: none;
        border-radius: 5px;
        margin: 20px 0;
        float: right;
        padding: 10px;
        color: #2e307c;
        background-color: rgba(245, 245, 245, 0.301);
        
    }
    .login-d {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.cart-page {
    display: flex;
    .btns {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: sticky;
        top: 150px;
        height: 100%;
    }
    button {
        width: 280px;
        cursor: pointer;
        margin-right: 100px;
        padding: 20px;
        background: none;
        height: 100%;
        font-size: 30px;
        border: none;
        border-radius: 5px;
        background-color: rgba(184, 172, 162, 0.301);
    }
}
.cart {
    background-color: rgba(184, 172, 162, 0.301);
    width: 50%;
    margin: 10px auto;
    padding: 70px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .product {
        display: flex;
        gap: 70px;
    }
    .cart-pic {
        height: 300px;
    }
    .cart-name {
        font-size: 20px;
        text-transform: uppercase;
    }
}

.user-page {
    // display: flex;
    // flex-direction: column;
    // width: 50%;
    // margin: 10px auto;
    // align-items: center;
    // gap: 20px;
    .p-1 {
        height: 350px;
        position: absolute;
        top: 200px;
        left: 80px;
        border-radius: 5px;
        opacity: 75%;
    }
    .p-2 {
        height: 400px;
        border-radius: 5px;
        position: absolute;
        right: 80px;
        top: 240px;
        z-index: -3;
        opacity: 75%;
    }
    .p-3 {
        height: 350px;
        position: absolute;
        top: 500px;
        right: 200px;
        border-radius: 5px;
        z-index: -2;
        opacity: 75%;
    }
    .p-4 {
        height: 300px;
        position: absolute;
        border-radius: 5px;
        left: 290px;
        top: 470px;
        border-radius: 5px;
        z-index: -1;
        opacity: 75%;
    }
    .p-5 {
        border-radius: 5px;
        height: 280px;
        position: absolute;
        top: 600px;
        left: 30px;
        opacity: 75%;
    }
    h1 {
        margin-bottom: 100px;
        font-size: 50px;
    }
    input {
        padding: 5px;
        border: 1px solid black;
        border-radius: 7px;
        background: none;
    }
    .user-edit {
        display: flex;
        gap: 10px;
        button {
            cursor: pointer;
            padding: 10px 10px;
            background: none;
            width: 80px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            background-color: rgba(184, 172, 162, 0.301);
        }
    }
    .user-btn {
        letter-spacing: 1.5px;
        cursor: pointer;
        padding: 20px 35px;
        background: none;
        height: 100%;
        width: 350px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        background-color: rgba(184, 172, 162, 0.301);
    }
    .content {
        border: 1.7px solid rgba(85, 75, 66, 0.616);
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 10px auto;
        align-items: center;
        gap: 30px;
        padding-bottom: 40px;
        z-index: 1;
        border-radius: 8px;
    }
    .admin-orders {
        margin-top: 250px;
        background-color: rgba(184, 172, 162, 0.301);
        padding: 20px 0;
        button {
            letter-spacing: 1.5px;
            cursor: pointer;
            padding: 15px 25px;
            margin: 10px;
            background: none;
            height: 100%;
            width: 150px;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            background-color: rgba(184, 172, 162, 0.301);
        }
        .orders-list {
            width: 60%;
            margin-left: auto;
        }
    }
    
}

.nl-admin {
    padding: 20px 0;
    background-color: rgba(184, 172, 162, 0.301);
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    .nl-user {
        text-align: center;
    }
    input {
        font-size: 14px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 7px;
        background: none;
        margin: 18px 0;
    }
    .nl-btn {
        display: flex;
        gap: 10px;
        button {
            letter-spacing: 1.5px;
            cursor: pointer;
            padding: 10px;
            background: none;
            height: 100%;
            width: 110px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            background-color: rgba(184, 172, 162, 0.301);
        }
    }
}

.chat-cont {
    position: absolute;
    bottom: 30px;
    z-index: 999;
    position: fixed;
    right: 30px;
    .chat-window {
        background-color: rgb(245, 245, 245);
        margin-bottom: 10px;
        border-radius: 5px;
        width: 280px;
        .chat-inp {
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
            width: 200px;
        }
        button {
            color: #2b5293;
            cursor: pointer;
            background: none;
            border: none;
            font-size: 17px;
            padding-left: 15px;
        }
        .active {
            // border-bottom: 1px solid black;
            padding: 0 20px;
            gap: 10px;
            font-size: 20px;
            letter-spacing: 1px;
            display: flex;
            align-items: center;

            .icon {
                font-size: 35px;
                color: rgb(109, 185, 109);
            }
        }
        .active-list {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding: 10px 5px;
            margin: 0;
            border-bottom: 1px solid black;
        }
        .messages {
            height: 250px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            overflow-y: scroll;
            .message {
                .user {
                    font-weight: 500;
                }
                .text {
                    border-radius: 5px;
                    background-color: #97b5e9;
                    width: 100px;
                    word-wrap: break-word;
                    padding: 5px 10px;
                }
            }
            .message:not(.admin) {
                .text {
                    background-color: #a6bce4;
                }
                align-self: flex-end;
                text-align: right;
            }
            .admin {
                align-self: flex-start;
            }
        }
        .chat-form {
            display: flex;
            input {
                border: 1px solid grey;
                // background-color: #dfdede;
                border-radius: 0 5px 0 5px;
                padding: 0 10px;
                font-size: 15px;
            }
            button {
                font-size: 20px;
                margin: 5px;
            }
        }
    }
    .chat-btn {
        cursor: pointer;
        background: none;
        font-size: 50px;
        padding: 20px;
        border: none;
        width: 97px;
        border-radius: 50%;
        background-color: #2b5193e7;
        color: #efefef;
        float: right;
    }
}
